'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Wercker Status'
      'submenu': [
        { 'label': 'Check now!', 'command': 'atom-wercker-status:checknow' }
      ]
    ]
  }
]
